$blue-10: #17374B;
$blue-20: #004069;
$blue-24: rgba(0, 64, 105, 1);
$blue-25: rgba(0, 64, 105, .9);
$blue-30: #32659E;
$blue-40: #4A99AD;

$red: #6F1F35;

$orange: #D1624E;

$yellow: #FFD085;

$black: #242A2E;

$grey: #3C3C3C;
$grey-10: #959595;

$white: #F8F8F8;

$white-10: #E7F0F4;

$beige: #F0F0E9;